* {
    box-sizing: border-box;
}
h1 {font-size: 64px;}h2{font-size: 46px;}h3{font-size: 38px;}h4{font-size: 32px;}h5{font-size: 26px;}h6{font-size: 24px;}p{font-size: 18px;}
@font-face {font-family: poppinsReg;src: url(../fonts/Poppins-Regular.otf);}
@font-face {font-family: poppinsMed;src: url(../fonts/Poppins-Medium.otf);}
h1,h2,h3,h4,h5,h6 {
    font-family: poppinsMed;
}
p,a,span, button, li {
    font-family: poppinsReg;
    text-decoration: none;
}
ul {
    padding-inline-start: 0px;
}
li {
    list-style: none;
}
:root {
    --primary: #193766;
    --action: #3B82F6;
    --text: #697B98;
    --primary-transp: rgba(25, 55, 102, 0.1);
    --action-transp: rgba(59, 131, 246, 0.1);
    --text-transp: rgba(105, 123, 152, 0.1);
}
.bg-primary {
    background: var(--primary);
    color: white !important;
}
.bg-action {
    background: var(--action);
    color: white !important;
    padding: 15px 30px !important;
    border-radius: 25px !important;
    transition: 0.5s;
}
.bg-action:hover {
    background: var(--primary);
}
.bg-text {
    background: var(--text);
    color: white !important;
}


.hdr {
    background:  var(--action-transp);
}
.navbar-brand {
    font-size: 32px;
    font-weight: 800;
}
.hdr__main {
    display: flex;
    padding-bottom: 50px;
}
.hdr__main-left {
    width: 650px;
    padding: 50px 0px;
}
.hdr__main-right {
    position: relative;
}
.hdr__main-text {
    margin-bottom: 50px;
}
.bg-circle {
    border-radius: 100%;
}
.bg-circle.big {
    width: 500px;
    height: 500px;
    background: var(--action-transp);
    opacity: 1;
}
.bg-circle.little {
    width: 300px;
    height: 300px;
    background: var(--primary-transp);
}
.phone-img-1 {
    position: absolute;
    top: 100px;
    width: 150px;
    border-radius: 15px;
    left: 75px;
    transform: rotateZ(-5deg);
}
.phone-img-2 {
    position: absolute;
    top: 50px;
    width: 150px;
    border-radius: 15px;
    left: 325px;
    transform: rotateZ(15deg);
}




/* Main */






.whywe__section {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.whywe__block {
    width: 300px;
    padding: 25px 50px;
    text-align: center;
    background: white;
    box-shadow: 0px 0px 20px 20px #00000017;
    border-radius: 15px;
    margin-top: -50px;
    margin-bottom: 75px;
    cursor: pointer;
    transition: 0.5s;
}
.whywe__block:hover {
    transform: scale(1.1);
}
.whywe__icon {
    font-size: 48px;
    color: var(--action);
}
.whywe__title {
    margin-top: 10px;
}


/* Send online */
.send__section {
    display: flex;
    margin-top: 50px;
}
.send__left {
    width: 600px;
}
.send__title a {
    text-decoration: underline !important;
    font-family: poppinsMed;
}
.send__btn {
    display: flex;
    width: 100%;
    padding: 20px;
    background: transparent;
    color: black;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
}
.send__btn.active {
    background: var(--action);
    color: white;
    box-shadow: 0px 0px 20px 10px rgba(59, 131, 246, 0.4);
    transition: 0.5s;
}
.send__btn.active:hover {
    background: var(--primary);
}
.bg-circle.big.gradient {
    background: linear-gradient(90deg, var(--primary), var(--action));
    opacity: 0.5;
    margin-left: 100px;
}


.send__right {
    position: relative;
}
.send__phone {
    position: absolute;
    background: linear-gradient(225deg, #dae5f6, #edf4ff);
    left: 175px;
    top: -110px;
    padding: 15px 40px 10px 40px;
    border-radius: 25px;
}
.send__phone-text {
    margin-top: 10px;
}
.send__phone-input-text {
    color: rgb(130, 130, 130);
    margin-bottom: 0;
    margin-top: 15px;
}
.send__phone-input {
    border: 1px solid rgb(130, 130, 130);
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 5px;
    width: 100%;
    background: transparent;
}
.send__phone-input-file {
    display: none;
}
.bg-circle.big {
    box-shadow: 0px 0px 20px 10px #697B98;
}
.send__phone-doc-text {
    margin-top: 10px;
}
.sendonline__label {
    width: 100px;
    height: 150px;
    padding: 10px;
    border: 1px solid #697B98;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.send__phone-icon {
    padding: 30px 20px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 24px;
}
.send__file-text {
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}
.send__form-btn {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: var(--action);
    color: white;
    transition: 0.5s;
}
.send__form-btn:hover {
    background: var(--primary);
}










/* Trusted */
.trusted {
    margin-top: 100px;
    position: relative;
    padding: 0 0 100px 0;
}
.trusted .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trusted__title {
    max-width: 500px;
    text-align: center;
}
.trusted__ul {
    list-style: none;
}
.gradient-1 {
    position: absolute;
    background: linear-gradient(0deg, rgba(59, 131, 246, 0.25), rgba(205, 215, 245, 0));
    width: 100%;
    top: 0;
    height: 50%;
}
.gradient-2 {
    position: absolute;
    background: linear-gradient(0deg, rgba(205, 215, 245, 0), rgba(59, 131, 246, 0.25));
    width: 100%;
    bottom: 0;
    height: 50%;
}
.trusted__block {
    width: 550px;
    position: relative;
    padding: 75px 35px 35px 35px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin-top: 100px;
}
.trusted__img {
    position: absolute;
    top: -75px;
    border-radius: 100%;
    width: 150px;
}
.carousel {
    display: flex;
    overflow: hidden;
    width: 550px;
    height: 475px;
    position: relative;
}
.carousel__ul {
    display: flex;
    padding: 0;
    transition: 0.5s;
}
.carousel__btn {
    border: none;
    background: transparent;
    
}
.carousel__li {
    padding: 0 0 0 0;
}
.trusted__btn-block {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.trusted__bg-img {
    width: 75px;
    border-radius: 100%;
    position: absolute;
    box-shadow: 0px 7px 20px 0px #19376629;
    opacity: 0.5;
}
.trusted__bg-img.fi {
    left: 200px;
    transform: rotateZ(-15deg);
    top: 75px;
}
.trusted__bg-img.se {
    left: 150px;
    transform: rotateZ(15deg);
    top: 445px;
}
.trusted__bg-img.th {
    right: 210px;
    transform: rotateZ(-15deg);
    top: 350px;
}
.trusted__bg-img.fo {
    right: 150px;
    transform: rotateZ(15deg);
    top: 125px;
}




/* Swiss */

.swiss__cont {
    display: flex;
    justify-content: space-around;
}

.swiss__circle {
    width: 600px;
    height: 550px;
    overflow: hidden;
    position: relative;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom-left-radius: 315px;
    border-bottom-right-radius: 315px;
}
.swiss__in-circle {
    position: absolute;
    background: var(--primary-transp);
    border-radius: 100%;
    width: 400px;
    height: 400px;
    left: 100px;
    right: 100px;
}
.swiss__img-fi {
    bottom: -25px;
    max-width: 200px;
    border-radius: 25px;
    z-index: 5;
    transform: translateX(0px)
    translateY(15px)
    rotateZ(-10deg);
    opacity: 0.9;
}
.swiss__img-se {
    bottom: -25px;
    max-width: 200px;
    border-radius: 25px;
    z-index: 6;
    transform: translateX(0px)
    translateY(15px)
    rotateZ(10deg);
}
.swiss__block {
    max-width: 475px;
    padding-top: 125px;
}
.swiss__title-a {
    color: black;
    text-decoration: underline;
    font-weight: normal;
    font-family: poppinsMed;
}
.swiss__text {
    color: #898989;
}
.swiss__ul {
    margin-bottom: 40px;
    padding-inline-start: 0px;
}
.swiss__li {
    list-style: none;
    display: flex;
    align-items: center;
}
.swiss__icon {
    color: rgb(14, 164, 14);
    padding-right: 10px;
    font-size: 20px;
}
.swiss__btn {
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 35px;
    background: var(--action);
    color: white;
    font-size: 14px;
    transition: 0.5s;
}
.swiss__btn:hover {
    color: white;
    background: var(--primary);
}
.swiss__btn-icon {
    margin-left: 5px;
}



/* requirement */






.requirement {
    margin-top: 100px;
}
.req__cont {
    display: flex;
    justify-content: space-around;
}
.req__icon-box {
    margin-top: 25px;
}
.req__block {
    max-width: 475px;
    margin-top: 125px;
}
.req__icon-block{
    text-align: center;
}
.req__icon {
    font-size: 60px;
    color: var(--action);
}
.req__icon-text {
    font-family: poppinsMed;
    font-size: 20px;
    margin-top: 10px;
}



/* Download */


.download {
    margin-top: 100px;
}


.download__block {
    width: 100%;
    background: var(--action-transp);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
    text-align: center;
}
.download__up-text {
    padding: 5px 15px;
    background: var(--primary-transp);
    font-size: 20px;
    color: var(--action);
    font-family: poppinsMed;
    border-radius: 15px;
}
.download__title-a {
    text-decoration: underline;
}
.download__btn-box {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.download__btn {
    display: block;
    color: white;
    background: var(--action);
    border-radius: 25px;
    padding: 15px 20px;
    width: 200px;
    transition: 0.5s;
}
.download__btn:hover {
    color: white;
    background: var(--primary);
}




/* Footer */
.ftr {
    margin-top: 100px;
}
.ftr__block-ul {
    max-height: 250px;
    height: 100%;
}




































/* Media */

@media (max-width:992px) {
    h1{font-size: 52px;}h2{font-size: 42px;}h3{font-size: 36px;}h4{font-size: 30px;}h5{font-size: 28px;}h6{font-size: 22px;}p{font-size: 20px;}
    .bg-circle.big {
        width: 300px;
        height: 300px;
    }
    .phone-img-1, .phone-img-2 {
        max-width: 125px;
        width: 100%;
    }
    .phone-img-1 {
        left: 0px;
    }
    .phone-img-2 {
        left: 175px;
    }
    .whywe__section {
        justify-content: center;
    }
    .whywe__block {
        margin-right: 25px;
    }
    
    
    .send__phone {
        left: 100px;
    }
    
    
    .swiss__cont {
        flex-wrap: wrap;
    }
    .req__cont {
        flex-wrap: wrap;
    }
    
    
    
    .download__block {
        padding: 75px 50px;
    }
    
}
@media (max-width:768px) {
    .send__phone {
        display: none;
    }
    .bg-circle.big.gradient {
        display: none;
    }
    .trusted__btn-block {
    }
    /*.bg-circle.big {
        margin-top: 50px;
        margin-left: 50px;
        width: 200px;
        height: 200px;
    }
    .bg-circle.big.gradient {
        opacity: 0;
    }
    .send__section {
        display: flex;
        flex-direction: column;
    }
    .send__phone {
        display: flex;
        left: 0;
        top: 75px;
        right: 0;
    }
    .send__phone-input {
        height: 50px;
    }
    .send__form-btn {
        width: 100px;
        height: 50px;
    }*/
}
@media (max-width:690px) {
    .phone-img-1, .phone-img-2 {
        max-width: 125px;
        transform: rotateZ(-5deg);
        left: 75px;
        top: 75px;
    }
    .phone-img-2 {
        animation: hdrphoneanim 10s infinite;
    }
    @keyframes hdrphoneanim {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
@media (max-width:576px) {
    h1{font-size: 44px;}h2{font-size: 38px;}h3{font-size: 32px;}h4{font-size: 30px;}h5{font-size: 24px;}h6{font-size: 22px;}p{font-size: 20px;}
    .phone-img-1, .phone-img-2 {
        max-width: 100px;
        transform: rotateZ(-5deg);
        left: 75px;
        top: 75px;
    }
    .bg-circle.big {
        display: none;
    }
    .trusted__carousel, .trusted__block {
        width: 400px;
    }
    
    .swiss__block {
        max-width: 350px;
    }
    .swiss__circle {
        width: 450px;
        height: 400px;
    }
    .swiss__img-fi, .swiss__img-se {
        width: 155px;
    }
    .swiss__in-circle {
        width: 250px;
        height: 250px;
    }
    
    .download__block {
        padding: 25px 25px;
    }
    .download__btn-box {
        flex-direction: column;
        align-items: center;
        width: 250px;
    }
    .download__btn {
        margin-top: 25px;
    }
}
@media (max-width:406px) {
    .trusted__name {
        text-align: center;
        font-size: 26px;
    }
    .trusted__location {
        font-size: 20px;
    }
    .trusted__text {
        font-size: 16px;
    }
    .trusted__carousel, .trusted__block {
        width: 300px;
    }
    
    .swiss__block {
        max-width: 300px;
    }
    .swiss__circle {
        display: none;
    }
}


@media (max-width:320px) {
    .trusted__carousel, .trusted__block {
        width: 250px;
        height: 600px;
    }
    .trusted__bg-img.fi {
        display: none;
    }
}